<!-- @include('../partials/components/main-nav.html') -->

<nav class="main-nav @classMode">
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a href="#advances" class="main-nav__link active">
        Наші переваги
      </a>
    </li>
    <li class="main-nav__item">
      <a href="#info" class="main-nav__link">
        Види робіт
      </a>
    </li>
    <li class="main-nav__item">
      <a href="#pay" class="main-nav__link">
        Оплата
      </a>
    </li>
    <li class="main-nav__item">
      <a href="#contact" class="main-nav__link">
        Контакти
      </a>
    </li>
  </ul>
</nav>
