<footer>
  <div class="container">

    <div class="footer">
      <div class="footer__inner">
      
          <a href="#" class="footer__logo">
            <svg width='171' height='60'>
              <use href='img/sprite/sprite.svg#logo'></use>
            </svg>
          </a>


          <span class="footer__deskr">2023 © Need for Servise Все права захищені</span>

          <span class="footer__company">
            <svg width='174' height='38'>
              <use href='img/sprite/sprite.svg#logo_f'></use>
            </svg>
          </span>
     
      </div>
    </div>


  </div>
</footer>
