<div class="overlay none" data-overlay>
  <!-- <div class="modal modal-connect" data-popup="connect">
    <div class="modal__box modal-connect__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='21' height='21'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>

      <div class="modal__top modal-connect__top">
        <h2 class="modal__title modal-connect__title">
          Connect to wallet
        </h2>
        <p>By connecting a wallet, you agree to Fixswap's <a href="#" class="transparent-text">Terms of Use</a></p>
      </div>

      <ul class="connect-list">
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img1.svg" alt="image" width="30" height="30">
            Metamask
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img2.svg" alt="image" width="30" height="30">
            TrustWallet
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img3.svg" alt="image" width="30" height="30">
            WalletConnect
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img4.svg" alt="image" width="30" height="30">
            Brave Wallet
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img5.svg" alt="image" width="30" height="30">
            TokenPocket
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img6.svg" alt="image" width="30" height="30">
            MathWallet
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img7.svg" alt="image" width="30" height="30">
            Coin98
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img8.svg" alt="image" width="30" height="30">
            Binance Chain
          </button>
        </li>
        <li class="connect-list__item">
          <button class="connect-list__btn" data-btn-modal="back">
            <img src="/img/connect/img9.svg" alt="image" width="30" height="30">
            Coinbase Wallet
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="modal modal-wallet" data-popup="wallet">
    <div class="modal__box modal-wallet__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='21' height='21'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>

      <div class="modal__top modal-wallet__top">
        <h2 class="modal__title modal-wallet__title">
          You wallet
        </h2>
      </div>

      <div class="modal-wallet__inner">
        <span class="modal-wallet__result">
          <b class="green-text">Connected</b></span>
        <span class="modal-wallet__value">0x04cc33A71667fB92F25b14ca8bD21aA1907BB233</span>
        <div class="modal-wallet__content">
          <a href="#" class="vertical-card__acc-link">
            Copy adress
            <svg width="17" height="17">
              <use href="img/sprite/sprite.svg#arrow-link"></use>
            </svg>
          </a>
          <a href="#" class="vertical-card__acc-link">
            View on BscScan
            <svg width="17" height="17">
              <use href="img/sprite/sprite.svg#arrow-link"></use>
            </svg>
          </a>
        </div>


      </div>

      <button class="modal-wallet__btn">
        Logout
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#main-arrow'></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="modal modal-farming" data-popup="farming">
    <div class="modal__box modal-farming__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='21' height='21'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>

      <div class="modal__top modal-farming__top">
        <h2 class="modal__title modal-farming__title">
          Unstake LP Tokens
        </h2>
      </div>

      <div class="modal-farming__inner">
        <ul class="modal-farming__list">
          <li class="modal-farming__item">
            <span class="modal-farming__name">Unstake</span>
            <span class="modal-farming__name">Balance:0.255894545</span>
          </li>
          <li class="modal-farming__item">
            <span class="modal-farming__value">0</span>
            <span class="modal-farming__name">BNB-BUSDT
              <button class="modal-farming__max">Max</button>
            </span>
          </li>
        </ul>

        <div class="modal-farming__content">
          <button class="modal-farming__btn--mode modal-farming__btn">Cancel</button>
          <button class="modal-farming__btn">
            Confirm
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#main-arrow'></use>
            </svg>
          </button>
        </div>

      </div>

    </div>
  </div> -->

</div>
