.advances-card{
    display: grid;
    grid-gap: 22px;
    padding: 0 clamp(10px, 1.953vw, 20px) clamp(25px, 4.004vw, 41px) clamp(20px, 3.906vw, 40px);
    height: clamp(136px, 13.937vw, 194px);
    border-radius: 6px;
    background: rgba(var(--bg-b),1.0);
    position: relative;
    grid-template-columns: 1fr auto;
    max-width: 451px;

    @include desktop{
        grid-gap: 10px;
    }

    @include laptop{
        padding-left: 20px;
    }

    @include tablet{
        max-width: 100%;
    }

    &:hover{
           .advances-card__icon{
            svg{
            stroke: var(--svg-fill-b);
           } 
        }
    }

    p{
        padding-top: clamp(75px, 6.681vw, 93px);
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: clamp(14px, 1.437vw, 20px);
        font-style: normal;
        font-weight: 500;
        line-height: 150%;

        @include tablet{
            br{
                display: none;
            }
        }

        @include ios{
            br{
                display: inline;
            } 
        }
    }

    &__number{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
        color: rgba(var(--cl-a),.10);
        text-align: center;
        font-family: var(--font-family);
        font-size: clamp(50px, 9.766vw, 100px);
        font-style: normal;
        font-weight: 700;
        line-height: 130%;

        @include desktop{
            font-size: 80px;
        }

        @include laptop{
            font-size: 70px;
        }

        @include tablet{
            font-size: clamp(50px, 9.766vw, 100px);
        }
    }

    &__icon{
        position: absolute;
        top: -50%;
        transform: translateY(50%);
        left: clamp(20px, 2.874vw, 40px);
        background-color: rgba(var(--bg-a),1.0);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
        width: clamp(60px, 7.184vw, 100px);
        height: clamp(60px, 7.184vw, 100px);

        svg{
            fill: transparent;
            stroke: var(--svg-fill-c);
        }

        &--mode{
            svg{
                transform: translateY(-10%);
            }
        }

        @include laptop{
            left: 20px;
        }

        @include small-tablet{
            transform: translateY(60%);
        }
    }
}