.main-contact{
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    background: rgba(var(--bg-a),1.0);
    padding: clamp(25px, 2.874vw, 40px) clamp(20px, 3.592vw, 50px);
    width: 768px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap:34px 50px;

    @include desktop{
        width: 100%;
    }

    @include mobile{
        flex-direction: column;
    }

    &__item{
        display: flex;
        align-items: center;
        grid-gap: clamp(18px, 2.155vw, 30px);

        @include mobile{
            justify-content: flex-start;
            width: 100%;
        }
    }

    &__inner{
        display: flex;
        flex-direction: column;
        grid-gap: 8px;

        @include mobile{
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            grid-gap: 15px;
        }

        @include ios{
            grid-template-columns: 1fr;
        }
    }

    &__title{
        color: rgba(var(--cl-e),1.0);
        font-family: var(--font-family);
        font-size: clamp(15px, 1.437vw, 20px);
        font-style: normal;
        font-weight: 500;
        line-height: 130%;

        @include mobile{
            grid-column: span 2;
        }

        @include ios{
            grid-column: initial;
        }
    }

    &__time{
        color: rgba(var(--cl-e),1.0);
        font-family: var(--font-family);
        font-size: clamp(14px, 1.293vw, 18px);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        white-space: nowrap;

        @include mobile{
            line-height: 100%;
        }
    }

    &__link{
        color: rgba(var(--cl-e),1.0);
        font-family: var(--font-family);
        font-size: clamp(16px, 1.724vw, 24px);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: transparent;
        transition: all .4s;
        white-space: nowrap;

        @include mobile{
            line-height: 100%;
        }

        &:hover{
            text-decoration-color: rgba(var(--cl-d),1.0); 
        }

    }

    &__icon{
        svg{
            fill: transparent;
        }

        &--mode{

            @include mobile{
                display: flex;
                align-items: center;
                svg{
                width: 50px;
                height: 50px;
            }
        }
        }
    }
}