.main-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;

    @include small-tablet{
      display: none;
    }


    &__item{
      position: relative;
    }
}
