.main-slider{
    @include for-small-tablet{
        display: none
    }
    width: 100%;

    @include small-tablet{
        width: calc(100% + (var(--container-offset) * 2));
        margin-left: calc(var(--container-offset) * -1);
     
    }
    &__container{
        border-radius: 6px;
        overflow: hidden;

        @include small-tablet{
            padding: 0 var(--container-offset);
        }
    }

    &__slide{
        width: 100%;
    }

    &__pagination{
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 8px;
    }

    .swiper-pagination-bullet{
            width: 8px;
            height: 8px;
            background-color: rgba(var(--bg-e),1.0);
            border-radius: 50%;


            &-active{
                background-color: rgba(var(--bg-c),1.0);
            }
    }


    .main-card{
        border-radius: 6px;
        overflow: hidden;
        &::before{
            opacity: 1;
            backdrop-filter: initial;
        }
        &__title{
            opacity: 1;
        }

        
    }
}