.main-nav{

    &__list{
        display: flex;
        align-items: center;
        grid-gap: clamp(15px, 2.299vw, 32px);

        @include tablet{
            flex-direction: column;
            align-items: center;
        }
    }


    &__link{
        display: flex;
        align-items: center;
        grid-gap: 6px;
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: clamp(15px, 1.149vw, 16px);
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        position: relative;
        transition: all .5s;

        @include tablet{
            font-size: 16px;
    
            &::before{
                order: 2;
            }
        }
       
        &::before{
            content: '';
            position: relative;
            width: 8px;
            height: 15px;
            transform: translateY(-3%);
            background-image: var(--link-icon);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
            visibility: hidden;
            transition: all .4s;
        }

        &:hover{
            &::before{
                visibility: visible;
                opacity: 1;
            }
        }

        &.active{
            &::before{
                visibility: visible;
                opacity: 1;
            }
        }
    }

    @include tablet{
        position: fixed;
        z-index: 90;
        top: var(--header-height);
        right: 0;
        height: calc(100% - var(--header-height));
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 14px 10px 30px 10px;
        background-color: rgba(var(--bg-d),1);
        transform: translateX(120%);
        transition: .4s;
        grid-gap: 40px;
    
        &.active{
            transform: translateX(0);
        }
    }
}