.modal{
    background: rgba(var(--bg-a),1);
    border-radius: 12px;
    max-width: 456px;
    width: 90vw;
    padding: 56px clamp(20px, 3.448vw, 48px) 60px;


    &__box{
        display:flex;
        flex-direction: column;
        grid-gap: clamp(20px, 2.73vw, 38px);
    }

    &__title{
        color: rgba(var(--cl-g),1.0);
        font-family: var(--font-family);
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        text-align: center;

        @include mobile{
            font-size: 21px;
        }
    }
}